body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14;
  color: #757575;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.logo-web {
  color: #2196f3;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.navigation-list-link,
.header-mail,
.header-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.header-tel:hover,
.header-tel:focus,
.header-mail:hover,
.header-mail:focus {
  color: #2196f3;
}
.header-tel,
.header-mail {
  color: #757575;
}
